<div class="container">
	<h1 class="text-center">Signup</h1>
	<div class="col-lg-6 col-sm-12 col-xs-12 text-center" style="    margin: 0 auto;float: none;">
			<div class="row">
		<input ng-model="email" placeholder="email" class="form-control" type="text" name="">
	</div>
	<div class="row" style="margin-top:10px;">
		<input ng-model="password" placeholder="password" class="form-control" type="password" name="">
	</div>
	<div class="row" style="margin-top:10px;">
		<button class="btn btn-primary" ng-click="signup()">Signup</button>
	</div>
	<!-- <div class="row" style="margin-top:10px;">
		{{ 3+1 }}
	</div> -->
	<div class="alert alert-danger" role="alert" style="margin-top:10px;">{{  }}
	</div>
	</div>


</div>

